* {
    box-sizing: border-box;
}
.container{
    padding: 10px;
}
nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
nav .respn_nav{
    display: none;
}
nav .nav_logo a{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #000;
}
nav ul {
    display: flex;
    margin: 10px;
    list-style:none;
}
nav ul li{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
}
nav ul li a:hover{
    color:red;
}
nav ul li a{
    text-decoration: none;
    color: gray;
}
nav ul li button{
    margin-top: -90px;
    background-color: darkblue;
    cursor: pointer;
    padding:10px 25px 10px 25px;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    border-radius: 30px;
}
.main-bpdy{
    margin-top: 20px; 
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.text-group{
    color: darkblue;
}
.text-group p{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}
.text-group .buttom{
    margin-top: 8px;
    background-color: rgba(0,0,139, 0.884);
    cursor: pointer;
    color: #fff;
    padding: 18px 45px 18px 45px;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    border-radius: 30px;
}.main-body .image-group img{
    width: 640px;
    height: 450px;
}
@media(max-width :1230px){
    .main-body .text-group p{
        font-size: 25px;
        width: 100%;
        height: auto;
    }
    .main-body .image-group{
        margin-top: 40px;
    }
    .main-body .image-group img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 656px) {
    nav .nav_item{
        display: none;
    }
    nav .respn_nav{
        display: inline;
    }
    nav .respn_nav img{
        width: 40px;
    }
}